@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black text-white p-0 m-0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.Column {
  @apply inline-block mr-4 align-top;
  width: 225px;
}

.Column__title {
  @apply text-lg mb-3 text-center font-bold;
}

.Card {
  @apply rounded-sm mb-2 p-2 bg-gradient-to-r from-cyan-500 to-blue-500 cursor-move;
}

.TextForm__input {
  @apply block bg-slate-400 rounded-sm border-none mb-3 mt-3 text-black w-full p-1;
}

.TextForm__input:focus {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
